@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300,400');

body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
}

.heading {
  color: #FFF;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.bg-img1 {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://images.pexels.com/photos/2985098/pexels-photo-2985098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.bg-img2 {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://images.pexels.com/photos/3822622/pexels-photo-3822622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
 
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  position: relative;
}
@media only screen and (max-device-width: 1024px) {
  .parallax {background-attachment: scroll;}
  .heading {top: 30%;} 
  .middle {top: 15%;}
}

/* navigation bar */
#nav-bar {
    position: fixed;
    top: 0;
    right: 50px; 
    display: flex;
    flex-direction: row;
   }
   #nav-bar ul {
     display: flex;
     flex-direction: row;
     background-color:rgba(240, 125, 96, 0);
   } 
   #nav-bar a{
     color: rgb(255, 197, 176);
     text-decoration: none;
     font-size: 15px;
   }
   #nav-bar li {
     list-style: none;
     padding: 5px;
     margin: 30px;
   }
   #dash {
     text-decoration: none;
   }
   #dash:hover {
     animation-name: dash-move;
     animation-duration: 1s;
     animation-timing-function: ease-out;
     animation-fill-mode: forwards;
   }
   @keyframes dash-move {
     0% {border-bottom: 3px solid rgba(240, 125, 96, 0);
       padding-bottom: 5px;}
     100% {border-bottom: 3px solid rgba(2,74,86,255);
       padding-bottom: 5px;}
   }

   #glossary {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   #news {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }
   mark{
     background-color: rgb(255, 197, 176);
   }

   #article-1, #article-2 {
    max-width: 400px;
    border: 1px solid black;
   }