/* Main */
html {
  font-family: 'Brygada 1918', serif;
  font-size: 20px;
}
body {
  margin: 40px 20px;
  padding: 90px;
  border-radius: 5px;
  background: #ffefd0;
}
h1 {
  font-family: 'Brygada 1918', serif;
  font-size: 50px;
  margin-bottom: 0;
  transition: 0.2s;
}
h1:hover {
  font-size: 55px;
}

h2,
h3 {
  font-size: 30px;
}
body{
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #1f1505;
  margin: 0;
}
/* Images */
img {
  max-width: 52%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
  transition:0.2s;
}
img:hover {
  width: 52%;
}
.thin-border {
    border-color: #523d1d;
    border-width: 9px;
    border-style: solid;
  border-radius: 2px;
  }
/* List */
ul {
  max-width: 550px;
  margin: 0 auto 20px auto;
  text-align: left;
  line-height: 1.6;
}
li {
  margin: 10px 10px;
}
/* Hover Dash */
a {
  text-decoration: none;
  color: rgb(94, 69, 36);
}
a:hover {
  text-decoration: underline;
  color: rgb(88, 61, 26);
}
#tribute-link {
  color: rgb(80, 56, 34);
}
#tribute-link:hover {
  text-decoration: none;
}
#dash {
  text-decoration: none;
}
#tribute-link:hover #dash {
  animation-name: dash-move;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes dash-move {
  0% {
    border-bottom: 2px solid rgba(114, 103, 79, 0);
    padding-bottom: 4px;
  }
  100% {
    border-bottom: 2px solid rgb(73, 54, 29);
    padding-bottom: 4px;
  }
}
mark {
  background-color:rgb(168, 154, 108)
}
h4 {
      font-size: 20px;
  }
footer { 
    padding: 10px;
    color: #635538;
    text-align: center;
}
/* navigation bar */
#nav-bar {
  position: fixed;
  top: 0;
  right: 50px; 
  display: flex;
  flex-direction: row;
 }
 #nav-bar ul {
   display: flex;
   flex-direction: row;
   background-color:rgba(240, 125, 96, 0);
 } 
 #nav-bar a{
   color: black;
   text-decoration: none;
   font-size: 15px;
 }
 #nav-bar li {
   list-style: none;
   padding: 5px;
   margin: 30px;
 }
 #dash {
   text-decoration: none;
 }
 #dash:hover {
   animation-name: dash-move;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
 }
 

